@import '_settings'

normalize()
base()
tables()

body
  padding: 50px

.box
  size: 50
  border: 1px solid
  absolute: top 70px left 80px
  bg: 'noise.png'

ul 
  inline-list: 10px



.gradient
  size: 200 80
  gradient: red green

.simple-gradient
  size: 200 80
  simple-gradient: red 40%

.button-example
  size: 200 80
  background: blue
  hover-darken()
  transition: all 1s ease-in-quart

.tom
  simple-button: green 30
  transition()

.return a
  simple-button: blue 15
  transition()



